﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SumaxHeader.master.cs" Inherits="Sumax_Hyundai.SumaxHeader" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Sumax Engineering (P) Limited</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="assets/images/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/assets/images/favicon/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <link href="assets/css/StyleSheet.css" rel="stylesheet" />
    <link href="assets/css/site.css" rel="stylesheet" />
    <link href="assets/css/animated.css" rel="stylesheet" />
    <link href="assets/css/jquery-confirm.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <link href="assets/css/bootstrap-multiselect.css" rel="stylesheet" />

    <style>
        body, table {
            font-family: Verdana;
        }

        .dataTables_filter {
            float: right;
        }

        .dataTables_paginate {
            float: right;
        }

        #sidebar {
            /*background-color: #336799 !important;*/
            background: linear-gradient(to bottom,#4489e47a, #4489e4);
            margin-top: 39px !important;
            overflow-y: auto;
            width: 229px;
            height: 100%;
            position: fixed;
        }

        .backco {
            background: linear-gradient(to bottom,#4489e47a, #4489e4);
            position: fixed;
            width: 100%;
            top: 0px;
            z-index: 9;
        }

        #main-content {
            margin-left: 225px !important;
            padding-right: 15px;
            margin-top: 17px;
        }

        .content-wrapper {
            display: inline-block;
            margin-top: 60px !important;
            width: 100%;
            /*height: 100vh;*/
            overflow-y: auto;
            overflow-x: hidden;
            padding-left: 20px !important;
        }

        .customer-list {
            list-style: none;
            margin: -1px 3px 0 3px !important;
            padding: 0 !important;
        }

        .fields-label {
            margin-left: 7px;
        }

        .customer-list li {
            position: relative;
            margin: 3px 0px -2px 0px;
            background: linear-gradient(to bottom,#4489e47a, #4489e4);
            padding-right: 10px;
            border-bottom: 1px solid #fff;
        }

        ul.customer-list li a {
            text-decoration: none;
            cursor: pointer;
            text-align: left;
            color: #ffffff;
            display: block;
            padding: 15px 0 15px 20px;
            font-size: 15px;
            font-weight: 600;
            outline: none;
        }

        ul.submenu li a {
            font-size: 12px;
        }

        ul.submenu li {
        }

        ul.customer-list li a .fa, ul.customer-list li a .fas, ul.customer-list li a .far {
            float: right;
        }

        ul.submenu {
            list-style: none;
            padding-left: 0;
            position: relative;
            top: -5px;
        }

            ul.submenu li {
                border-bottom: none !important;
            }

        div.customers {
            color: white;
            text-align: center;
        }

        hr {
            margin: 0 0 !important;
        }

        @media(min-width:768px) {
            .table-responsive {
                overflow: hidden;
            }
        }

        .modal-header {
            background: linear-gradient(to bottom,#4489e47a, #4489e4);
            color: white;
        }
    </style>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div>
                <div class="container-fluid backco">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="color: white">
                            <h3><span style="font-size: 30px; font-family: Georgia;">S</span>umax</h3>

                        </div>

                        <div class="col-sm-3">
                            <p style="line-height: 40px; margin: 10px 0px; color: white;">
                                Welcome <u runat="server" id="welcomeuser"></u>
                            </p>
                        </div>
                        <div class="" style="color: white; float: right">
                            <nav class="navbar">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="/Default.aspx">
                                            <div style="text-align: center;">
                                                <i class="far fa-file-pdf"></i>
                                            </div>
                                            Generate Invoice
                                        </a>
                                    </li>
                                    <li>
                                        <a href="template.aspx" runat="server" id="litemplatemgment" visible="false">
                                            <div style="text-align: center;">
                                                <i class="far fa-newspaper"></i>
                                            </div>
                                            Invoice Management
                                        </a>
                                    </li>
                                   <%-- <li runat="server" id="liqrcodemgment" visible="false">
                                        <a href="QRCodeMgmt.aspx">
                                            <div style="text-align: center;">
                                                <i class="fas fa-qrcode"></i>
                                            </div>
                                            QR Code Management
                                        </a>
                                    </li>--%>
                                    <li runat="server" id="liusermgment" visible="false">
                                        <a href="UserManagement.aspx">
                                            <div style="text-align: center;">
                                                <i class="fas fa-users"></i>
                                            </div>
                                            User Management
                                        </a>
                                    </li>
                                    <li class="dropdown user-box">
                                        <a href="#" class="dropdown-toggle waves-effect user-link aitem" runat="server" id="signoutaitem" data-toggle="dropdown" aria-expanded="true">
                                            <div><i class="fas fa-sign-out-alt" aria-hidden="true"></i></div>
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list drpmenu">
                                            <%--<li><a href="javascript:void(0)" title="" data-toggle="modal" class="pull-left" data-target="#cp">Change Password</a></li>--%>
                                            <li runat="server" >
                                                <a href="javascript:void(0)" title=""  class="pull-left" data-toggle="modal" data-target="#cp">Change Password</a>

                                            </li>
                                            <li>
                                                <a runat="server" onserverclick="Logout_Click">
                                                    <i class="fas fa-sign-out-alt"></i>&nbsp;Logout

                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <%-- <li>
                                        <a runat="server" onserverclick="Logout_Click">
                                            <div style="text-align: center;">
                                                <i class="fas fa-sign-out-alt"></i>
                                            </div>
                                            Logout
                                        </a>
                                    </li>--%>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>

        </div>

        <div id="cp" class="modal fade" role="dialog">
            <div class="modal-dialog" runat="server">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Change Password</h4>
                    </div>
                    <div class="modal-body">
                        <div id="cperrormessage" style="color: red; text-align: center;"></div>
                        <div class="form-group">
                           <input type="text" name="currentPwd" runat="server" id="currentPwd1" tabindex="1" class="form-control" placeholder="Enter Current Password" />
                            <label id="lbl1" runat="server" ></label>
                        </div>
                        <div class="form-group">
                            <input type="password" name="Password" runat="server" id="changePwd" tabindex="1" class="form-control" placeholder="New Password" />
                            <label id="lbl2" runat="server" ></label>
                        </div>
                        <div class="form-group">
                             <input type="password" name="confirmPwd" runat="server" id="confirmPwd" tabindex="1" class="form-control" placeholder="Repeat Password"  />
                             <label id="lbl3" runat="server"></label>
                        </div>

                        <%--<div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <a href="javascript:void(0)" onclick="changePassword()" name="cp-submit" id="cp-submit" tabindex="4" class="form-control btn btn-primary">Change</a>
                                    <input type="button" name="cp-submit" id="cp-submit" tabindex="4" class="form-control btn btn-success" value="Change" onclick="changePassword()" />
                                </div>
                            </div>
                        </div>--%>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3" >
                                    <%--<a onserverclick="Password_Click" name="cp-submit" id="" tabindex="4"  class="form-control btn btn-primary submit" runat="server" >Change</a>--%>
                                    <%--<a id="submit" class="form-control btn btn-primary " runat="server" >Change</a>--%>
                                    <label id="lbl4" runat="server"></label>
                                    <input type="button" name="cp-submit" id="submit" tabindex="4" class="form-control btn btn-success Change" onclick="Changepassword_Click"  runat="server" value="Change"  />
                                    <%--<asp:Button ID="addButton" runat="server"  Text="Add" önclick="changepassword();" OnClientClick="return ChangePassword()" />--%>
                                </div>
                            </div>
                        </div>
                        <div id="loader" style="display: none">
                            <i class="fa fa-refresh fa-spin" style="font-size: 24px; margin-left: 49%"></i>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span runat="server" id="changepasswordclose">Close</span></button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</body>
<script src="assets/js/JavaScript.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/jquery.selectlistactions.js"></script>
<script src="assets/js/JavaScriptextra.js"></script>
<script src="assets/js/datatables.min.js"></script>
<script src="assets/js/dataTables.bootstrap.min.js"></script>
<script src="assets/js/jquery-confirm.min.js"></script>
<script src="assets/js/bootstrap-multiselect.js"></script>
<script>
    $(document).ready(function () {
        $('#inboundTable').DataTable({
            "bAutoWidth": true,
            "pageLength": 50,
            "language": {
                "sZeroRecords": "No Invoice(s)"
            },
            "order": [],
            "rowCallback": function (row, data) {
                var cc = readCookie("selected");
                //alert(data[0]);
                if (data[0] == cc) {
                    $("#inboundTable tr").removeClass("highlight");
                    $(row).addClass("highlight");
                }
                //console.log(data);
                //console.log(row);
            }
        });

        $('#inboundTable').on('click', 'tbody tr', function () {
            //var rowData = table.row(this).data();
            $("#inboundTable tr").removeClass("highlight");
            $(this).addClass("highlight");
            selected = $(this).find("td:nth-child(1)").text();
            //alert(selected);
            document.cookie = "selected=" + selected
        });

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        var chooseSectionVal = '';

        $('#btnAvenger').click(function (e) {
            $('select').moveToList('#StaffList', '#PresenterList');
            e.preventDefault();
        });

        $('#btnRemoveAvenger').click(function (e) {
            $('select').removeSelected('#PresenterList');
            e.preventDefault();
        });

        $('#btnAvengerUp').click(function (e) {
            $('select').moveUpDown('#PresenterList', true, false);
            e.preventDefault();
        });

        $('#btnAvengerDown').click(function (e) {
            $('select').moveUpDown('#PresenterList', false, true);
            e.preventDefault();
        });

        $('#btnShield').click(function (e) {
            $('select').moveToList('#StaffList', '#ContactList');
            e.preventDefault();
        });

        $('#btnRemoveShield').click(function (e) {
            $('select').removeSelected('#ContactList');
            e.preventDefault();
        });

        $('#btnShieldUp').click(function (e) {
            $('select').moveUpDown('#ContactList', true, false);
            e.preventDefault();
        });

        $('#btnShieldDown').click(function (e) {
            $('select').moveUpDown('#ContactList', false, true);
            e.preventDefault();
        });

        $('#btnJusticeLeague').click(function (e) {
            $('select').moveToList('#StaffList', '#FacilitatorList');
            e.preventDefault();
        });

        $('#btnRemoveJusticeLeague').click(function (e) {
            $('select').removeSelected('#FacilitatorList');
            e.preventDefault();
        });

        $('#btnJusticeLeagueUp').click(function (e) {
            $('select').moveUpDown('#FacilitatorList', true, false);
            e.preventDefault();
        });

        $('#btnJusticeLeagueDown').click(function (e) {
            $('select').moveUpDown('#FacilitatorList', false, true);
            e.preventDefault();
        });

        $('#btnRight').click(function (e) {
            $('select').moveToListAndDelete('#lstBox1', '#lstBox2');
            e.preventDefault();
        });

        $('#btnAllRight').click(function (e) {
            $('select').moveAllToListAndDelete('#lstBox1', '#lstBox2');
            e.preventDefault();
        });

        $('#btnLeft').click(function (e) {
            $('select').moveToListAndDelete('#lstBox2', '#lstBox1');
            e.preventDefault();
        });

        $('#btnAllLeft').click(function (e) {
            $('select').moveAllToListAndDelete('#lstBox2', '#lstBox1');
            e.preventDefault();
        });

        $('ul.customer-list li a').click(function () {
            //alert();
            $(this).find('i').toggleClass('fa-plus-circle fa-minus-circle');
        })


        //on change section
        // $('#ContentPlaceHolder1_ddlSection').on('change', function () {
        //    chooseSectionVal = $(this).val();
        //    //modal_heading = $(chooseSectionVal).text();
        //    //alert(modal_heading)
        //})

        //choose section
        //$('#preview').click(function () {
        //    // alert(chooseSectionVal)
        //        //var chooseSectionVal = $('#chooseSection').val();
        //       $('body').find('#modal-image #sectionImage').attr('src',chooseSectionVal);
        //       //$('body').find('#modal-image #modal-title').text(modal_heading);
        //    })



    });



    function GetTemplateDetails(Id) {
        $.ajax({
            url: 'ASHX/AjaxHdlr.ashx',
            data: "TemplateDetailId=" + Id,
            success: function (msg) {
                if (msg.data != null) {
                    $('#SName').text(msg.data.Section);
                    $('#fName').val(msg.data.XmlField);
                    $('#dname').val(msg.data.DisplayField);
                    $('#hdnTemplateId').val(msg.data.Id);
                }
                else
                    $.alert("There was an error in retrieving template details. Try again!");
            },
            error: function (e) {
                console.log(e);
            }
        })
    }



    function GeneratePDF(FileId) {
        //    $.ajax({
        //        url: 'ASHX/AjaxHdlr.ashx',
        //        data: "Generatepdf=1",
        //        success: function (msg) {
        //            if (msg) {
        //                $.alert("Invoice Generated Successfully");
        //                window.location.reload();
        //            }
        //            else
        //                $.alert("There was an error in generating PDF. Try again!");
        //        },
        //        error: function (e) {
        //            console.log(e);
        //        }
        //    })
        $.confirm({
            draggable: true,
            dragWindowGap: 100,
            autoClose: 'Ok|7000',
            content: function () {
                var self = this;
                return $.ajax({
                    url: 'ASHX/AjaxHdlr.ashx',
                    data: "Generatepdf=" + FileId,
                    method: 'get'
                }).done(function (response) {
                    //alert(response);
                    if (response) {
                        self.setContent("Invoice Generated Successfully");
                        self.setTitle("");
                    }
                    else {
                        self.setTitle("");
                        self.setContentAppend('<div>There was an error in generating PDF. Try again</div>');
                    }
                }).fail(function () {
                    self.setTitle("");
                    self.setContentAppend('<div>There was an error in generating PDF. Try again</div>');
                });
            },
            buttons: {
                Ok: function () {
                    setTimeout(function () {
                        window.location.href = "Default.aspx";
                        //window.location.href = "/sumax/Default.aspx";
                    }, 300);
                }
            }
        });
    }
    function DownloadAll(FileId,FileName,InvoiceNo) {

        //$.ajax({
        //    url: 'ASHX/AjaxHdlr.ashx',
        //    data: "DownloadAll_id=" + FileId + "&&FileName=" + FileName + "&&InvoiceNo=" + InvoiceNo,
        //    method: 'get',
        //    datatype: 'json',
        //     contentType: "json", 
        //    success: function (response) {
        //        alert(response);

        //    }
        //});

        $.confirm({
            draggable: true,
            dragWindowGap: 100,
            autoClose: 'Ok|7000',
            content: function () {
                var self = this;
                return $.ajax({
                    url: 'ASHX/AjaxHdlr.ashx',
                    data: "DownloadAll_id=" + FileId +"&&FileName=" + FileName + "&&InvoiceNo=" + InvoiceNo,
                    method: 'get',
                    datatype:'html',
                    success: function (response) {
                        //alert(response);

                    }
                }).done(function (response) {
                    if (response != "") {
                        self.setContent("All Invoices Zip Generated Successfully");
                        
                        self.setTitle("");
                    }
                    else {
                        self.setTitle("");
                        self.setContentAppend('<div>There was an error in generating PDF. Try again</div>');
                    }
                }).fail(function () {
                    self.setTitle("");
                    self.setContentAppend('<div>There was an error in generating PDF. Try again</div>');
                });
            },
            buttons: {
                Ok: function () {
                    setTimeout(function () {
                        window.location.href = "Default.aspx";
                        //window.location.href = "/sumax/Default.aspx";
                    }, 300);
                }
            }
        });
    }
    //changepassword
        $('.Change').click(function () {
             $("div#cperrormessage").html("");
            debugger;
            var CurrentPassword = $("#currentPwd1").val();
            var changepassword = $("#changePwd").val();
            var ConfrimPassword = $("#confirmPwd").val();
            if (CurrentPassword == '') {
                $("div#cperrormessage").html("Please Enter Current Password");
                $("#currentPwd").focus();
                return false;
            }
            else if (changepassword == '') {
                $("div#cperrormessage").html("Please Enter New Password");
                $($fname).focus();
                return false;
            }
                else if (changepassword.length < 8) {
                $("div#cperrormessage").html("New Password should be greater than 8 char");
                $("#changePwd").focus();
                return false;
            }
            else if (changepassword != ConfrimPassword) {
                $("div#cperrormessage").html("Password You Entered is MissMatch ");
                $("#confirmPwd").focus();
                return false;
            }
            else {
                
                $.ajax(
                    {
                        url: 'ASHX/AjaxHdlr.ashx',
                        data: 'CurrentPassword=' + CurrentPassword + "&&changepassword=" + changepassword + "&&ConfrimPassword=" + ConfrimPassword,
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        statusCode: {
                            404: function () {
                                alert('Method not found!');
                            }
                        },
                        success: function (msg) {
                            if (msg == { data: "error" } )
                            {
                               
                                 alert('Current password doesnt match');
                                $("#currentPwd1").val("");
                                $("#changePwd").val("");
                                $("#confirmPwd").val("");
                                $('#cp').modal('hide');
                            }
                            else {
                                 alert('Password Changed Succesfully');
                                $("#currentPwd1").val("");
                                $("#changePwd").val("");
                                $("#confirmPwd").val("");
                                $('#cp').modal('hide');

                            }

                        },
                        error: function (msg) {
                            alert('Error!!!')
                        }
                    });
            }
            return false;
        });

</script>
</html>
